* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   
  }

body {
  /* background-color: red; */
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: hsl(193, 38%, 86%);

}
.container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 460px;
  height: 370px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  position: relative;
  padding: 30px;
}


.title {
  display: flex;
  justify-content: center;
  color: hsl(150, 100%, 66%);
  letter-spacing: 2px;;
  
}



.advice {
  font-size: 28px;
}


button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  border: none;
  position: absolute;
  bottom: -20px;
  padding: 1px;
}
.img-button {
  width: 25px; 
  height: 25px;
  background-image: url('images/icon-dice.svg');
  margin:4px 2px 2px 2px;
/* display: flex; */
/* text-align: center; */
}

button:hover {
  box-shadow: 0 0 20px hsl(150, 100%, 66%);
}

/* .container::before {

  background-image: url('images/pattern-divider-desktop.svg');
} */

.divider {
  width: 400px;
  margin-bottom: 30px;
  color:aqua;
}